<ion-view title="Login" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/WdD0Z4pVR7OSX582ktzf_logo_web.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="login-container1">
      <form id="login-form4" class="list">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="">
        </label>
        <a ui-sref="capital.dashboard()" id="login-button12" class="button button-positive button-block">Ingresar</a>
      </form>
    </div>
  </ion-content>
</ion-view>