<ion-view title="Mi Perfil" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="miperfil">
      <img src="img/CT9Zuy4IQUiRBMB703QE_leonardo-6.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="miPerfil-form5" class="list">
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="miPerfil-toggle2">Activo</ion-toggle>
      <label class="item item-input" id="miPerfil-input7">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Ana">
      </label>
      <label class="item item-input" id="miPerfil-input8">
        <span class="input-label">Email</span>
        <input type="text" placeholder="ana@capital.com">
      </label>
      <label class="item item-input" id="miPerfil-input10">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>