<ion-view title="Nueva Cita" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="nuevaCita-container2">
      <form id="nuevaCita-form6" class="list">
        <label class="item item-input" id="nuevaCita-input11">
          <span class="input-label">Fecha Visita</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="nuevaCita-input12">
          <span class="input-label">Hora</span>
          <input type="time" placeholder="">
        </label>
        <label class="item item-input" id="nuevaCita-input13">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="nuevaCita-input15">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="nuevaCita-input16">
          <span class="input-label">Fecha Nacimiento</span>
          <input type="date" placeholder="">
        </label>
        <div id="nuevaCita-button-bar1" class="button-bar"></div>
        <label class="item item-input">
          <span class="input-label">Telefono</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <form id="nuevaCita-form7" class="list">
      <label class="item item-input" id="nuevaCita-textarea1">
        <span class="input-label">Datos Adicionales</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="nuevaCita-button39" class="button button-positive button-block">Guardar</button>
  </ion-content>
</ion-view>